# Dependencies
node_modules/

# Build output
lib/
lib-commonjs/
dist/
temp/
release/
solution/
sharepoint/solution/

# SPFx
*.sppkg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test output
jest-output/

# Logs
*.log
npm-debug.log*
